.topNav{
    background: rgba(206, 206, 206, 0.5); /* Adjust the alpha (fourth value) for opacity */
  backdrop-filter: blur(50px);
  display: flex;
  position: sticky;
  justify-content: center;
  padding: 1px;
}
.store-expansion {
    top: 0;
    
   
  }

